@import "./skin.css";

* {
	box-sizing: border-box;
	font-family: "SourceCodePro", monospace !important;
}
html,
body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "SourceCodePro", monospace;
	src: url("data-base64:~assets/SourceCodePro.ttf") format("ttf");
}

#__plasmo {
	width: 100%;
	height: 100%;
}
