root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{cmd,bat}]
end_of_line = crlf

[*.{js,ts,jsx,tsx}]
max_line_length = 120
quote_type = single

[*.{json,jsonc}]
max_line_length = 80
